
.outer-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;  /* Full viewport height minus navbar height */
  width: 100vw; /* Full viewport width */
  background-color: rgb(0, 0, 0);
 
}


.contact-heading{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  color: rgb(255, 255, 255);
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 23px;
  
  
}
.container{
  width: 100%;
  max-width: 400px; 
  margin: 0 auto;
  padding: 20px;
  background-color:orangered;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6); /* Initial soft glow */
  transition: box-shadow 0.3s ease-in-out;
}

.container:hover {
  animation: glowing 1.5s infinite;
}

form {
  display: flex;
  flex-direction: column;
}


label{
  color: white;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],textarea,select {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc6c6;
  border-radius: 4px;
}

input[type="submit"] {
  background-color:rgb(0, 0, 0);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type="submit"]:hover {
  background-color:rgb(35, 35, 35);
}






/* for small */
@media (max-width:480px){


  .container{
    width: 76%;
    margin: 0 auto;
    padding: 20px;
    background-color:orangered;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6); /* Initial soft glow */
    transition: box-shadow 0.3s ease-in-out;
    
    
  }
  input[type="text"],textarea,select {
    margin-bottom: 13px;
    padding: 8px;
    border: 1px solid #ccc6c6;
    border-radius: 4px;
  }

  
input[type="submit"] {
  background-color:rgb(0, 0, 0);
  color: white;
  padding: 9px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-heading{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  color: rgb(255, 255, 255);
  justify-content: center;
  padding-top: 100px;
  
  
}
}
