/* Basic styles */
body {
  font-family: "Arial", sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 0;

}/* ContactPage.css */



.contact-background {
  display: flex;
  height: 100vh; /* Full viewport height */
  background-color: black; /* Ensure background color is consistent */
}

hr {
  width: 100%;
  margin: 0;
  height: 0.3px; 
  border: none;
  background:rgb(153, 0, 255);
  box-shadow: 0 0 15px rgb(153, 0, 255); /* Initial soft glow */
}

.contact-background {
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container {
  width: 100%;
  max-width: 500px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: rgb(8, 8, 8);
  border-radius: 24px;
  backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.contact-container:hover {
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.4);
}

.contact-header {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 1.5rem;
  color: white;
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-item {
  display: flex;
  align-items: center;
  padding: 0.6rem;
  border-radius: 16px;
  transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  backdrop-filter: blur(20px);
  color: white;
 
  background-color: rgb(8, 8, 8);
}


/* Glowing effect on hover */
.contact-item:hover {
  transform: translateY(-3px);
}

.contact-item:hover::before {
  transform: scale(1.5);
}


.contact-icon {
  font-size: 1.4rem;
  margin-right: 1rem;
 filter:invert();
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-platform {
  font-size: 1rem;
  font-weight: 500;
  opacity: 0.9;
}

.contact-detail {
  font-size: 0.9rem;
  opacity: 0.7;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .contact-background {
    padding: 1rem;
  }

  .contact-container {
    padding: 1.5rem;
    border-radius: 20px;
  }

  .contact-header {
    font-size: 1.8rem;
  }

  .contact-item {
    padding: 0.4rem;
  }
}
