.home-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.image1 {
  width: 100%;
  height: 100vh;
  object-fit: cover; /* Ensure the image covers the entire container without distortion */
  position: fixed; /* Position the image behind the text overlay */
  top: 0;
  left: 0;
  z-index: -1;
}
.text-overlay {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: white; /* Adjust text color as needed */
  padding: 10px; /* Adjust padding as needed */
  border-radius: 5px; /* Optional: rounded corners */
  z-index: 1;
}
.bio-hello {
  font-size: 11px;
}

.bio-name {
  font-size: xx-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.highlighted {
  color: orangered; /* Change this to the desired color */
}

.bio-description {
  font-size: 14px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.download-cv-button {
  margin-top: 50px;
  font-size: 11px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: orangered;
  color: white;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 0 15px orangered; /* Initial soft glow */
}

.download-cv-button:hover {
  transform: scale(1.05); /* Slight zoom effect */
}

.text-overlay-bottom {
  position: absolute;
  top: 100%;
  color: white; /* Adjust text color as needed */
  border-radius: 5px; /* Optional: rounded corners */
  z-index: 1;
}
.introduce {
  color: orangered;
}

.about-me-heading {
  font-size: 48px;
  padding-left: 122px;
  padding-bottom: 20px;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
}

.outer-container {
  display: flex;
}

.left-box {
  width: 450%;
}

.right-box {
  width: 300%;
  color: white;
}

.about-me-p {
  font-size: 17px;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
}
.about-me-lines {
  padding-top: 35px;
  background-color: none;
}

.my-img {
  width: 40%; /* Adjust size as needed */
  height: auto;
  border-radius: 50%; /* Optional: makes the image circular */
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6); /* Initial soft glow */
  transition: box-shadow 0.3s ease-in-out;
  margin-top: 32px;
  margin-left: 34.5%;
}

.lowest-bottom {
  font-size: 30px;
  padding-left: 218px;
}

.about-me-heading {
  font-size: 2rem; /* Default font size for full screen */
  font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.highlight-text {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-shadow: 0 0 15px orangered; /* Initial soft glow */
  color: orangered;
  font-weight: bold;
}

/* for small */
@media (max-width: 768px) {
  .right-box {
    display: none;
  }
  .left-box {
    background-color: none;
    margin-bottom: 100px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .my-img-bottom {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 40%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
    transition: box-shadow 0.3s ease-in-out;
  }

  .about-me-p {
    font-size: 17px;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
      NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
      EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto,
      "Helvetica Neue", "Noto Sans", sans-serif;
    text-align: center;
  }

  /* Break into two lines */
  .let-me,
  .introduce {
    display: block;
    font-size: 2rem;
  }

  .myself {
    display: block; /* Move "Myself" to a new line */
    font-size: 2rem;
  }

  .about-me-p {
    font-size: 1rem;
  }
  .about-me-heading {
    font-size: 2rem;
    padding-left: 39%;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .highlighted {
    display: block;
    color: orangered; /* Change this to the desired color */
  }
}

@media (max-width: 480px) {
  .about-me-heading {
    font-size: 1.2rem;
    padding-left: 34%;
  }
}

@media (min-width: 768px) {
  .right-box {
    width: 300%;
    color: white;
  }

  .my-img-bottom {
    width: 40%; /* Adjust size as needed */
    height: auto;
    border-radius: 50%; /* Optional: makes the image circular */
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6); /* Initial soft glow */
    transition: box-shadow 0.3s ease-in-out;
    margin-top: 25px;
    margin-left: 34.5%;
    display: none;
  }

  .about-me-heading {
    padding-right: 260px;
  }
  .about-me-p {
    font-size: 17px;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
      NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
      EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto,
      "Helvetica Neue", "Noto Sans", sans-serif;
    padding-left: 45px;
    margin-bottom: 100px;
  }
}
