.home-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.image1 {
  width: 100%;
  height: 100vh;
  object-fit: cover; /* Ensure the image covers the entire container without distortion */
  position: fixed; /* Position the image behind the text overlay */
  top: 0;
  left: 0;
  z-index: -1;
}
.text-overlay {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: white; /* Adjust text color as needed */
  padding: 10px; /* Adjust padding as needed */
  border-radius: 5px; /* Optional: rounded corners */
  z-index: 1;
}
.bio-hello {
  font-size: 11px;
}

.bio-name {
  font-size: xx-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.highlighted {
  font-size: xx-large;
  color: #fff;
  letter-spacing: 0.05em; /* Optional: adds slight spacing between letters */
}

.highlighted span {
  text-shadow: 0 0 27px  #b721ff;

  color: #b721ff;
  display: inline-block;
  transition: transform 0.3s ease-in-out; /* Smooth transition for zoom */
}

.highlighted span:hover {
  transform: scale(1.5); /* Zoom up individual letters */
}


.bio-description {
  font-size: 14px;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
  NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
  EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto,
  "Helvetica Neue", "Noto Sans", sans-serif;
}

.download-cv-button {
  margin-top: 50px;
  font-size: 11px;
  font-weight: bold;
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 background: #000;
  color: white;

  padding: 10px 30px;
  cursor: pointer;
  border: 1px solid blueviolet;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 0 5px rgb(153, 0, 255); /* Initial soft glow */
}

.download-cv-button:hover {
  transform: scale(1.05); /* Slight zoom effect */
}
.my-img-bottom {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}


.text-overlay-bottom {
  position: absolute;
  top: 100%;
  color: white; /* Adjust text color as needed */
  border-radius: 5px; /* Optional: rounded corners */
  z-index: 1;
}

.introduce {
  font-size: xx-large;
  color: #fff;
  letter-spacing: 0.05em; /* Optional: adds slight spacing between letters */
}

.introduce span {
  text-shadow: 0 0 27px  #b721ff;
  color: #b721ff;
  display: inline-block;
  transition: transform 0.3s ease-in-out; /* Smooth transition for zoom */
}

.introduce span:hover {
  transform: scale(1.5); /* Zoom up individual letters */
}



.about-me-heading {
  font-size: 48px;
  padding-left: 122px;
  padding-bottom: 20px;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
}

.outer-container {
  display: flex;
}

.left-box {
  width: 450%;
}

.right-box {
  width: 300%;
  color: white;
}


.about-me-lines {
  padding-top: 35px;
  background-color: none;
  font-size: 0.9rem;
}

.my-img-top {
  width: 200px; /* Adjust size as needed */
  height: auto;
  border-radius: 50%; /* Optional: makes the image circular */
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6); /* Initial soft glow */
  transition: box-shadow 0.3s ease-in-out;
  margin-top: 60px;
  margin-left: 34.5%;
}

.lowest-bottom {
  font-size: 30px;
  padding-left: 218px;
}

.about-me-heading {
  font-size: 2rem; /* Default font size for full screen */
  font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.highlight-text {
  text-shadow: 0 0 27px  #b721ff;
 color: #b721ff;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  font-weight: bold;
}

/* for small */
@media (max-width: 768px) {
  .right-box {
    display: none;
  }
  .left-box {
    background-color: none;
    margin-bottom: 100px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .my-img-bottom {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 5px;
    width: 200px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
    transition: box-shadow 0.3s ease-in-out;
  }

  .about-me-p {
    font-size: 17px;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
      NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
      EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto,
      "Helvetica Neue", "Noto Sans", sans-serif;
   
  }

  /* Break into two lines */
  .let-me,
  .introduce {
    display: block;
    font-size: 2rem;
  }

  .myself {
    display: block; /* Move "Myself" to a new line */
    font-size: 2rem;
  }

  .about-me-p {
    font-size: 0.9rem;
  }
  .about-me-heading {
    font-size: 2rem;
    padding-left: 39%;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .highlighted {
    text-shadow: 0 0 27px  #b721ff;
    display: block;
    color: #b721ff; /* Change this to the desired color */
  }
}

@media (max-width: 480px) {
  .about-me-heading {
    font-size: 1.2rem;
    padding-left: 34%;
  }

  .text-overlay {
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
  }
  .text-overlay-bottom{
    top: 70%;
  }
}

@media (min-width: 768px) {
  .right-box {
    width: 300%;
    color: white;
  }

  .my-img-bottom {
    width: 40%; /* Adjust size as needed */
    height: auto;
    border-radius: 50%; /* Optional: makes the image circular */
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6); /* Initial soft glow */
    transition: box-shadow 0.3s ease-in-out;
    margin-top: 25px;
    margin-left: 34.5%;
    display: none;
  }

  .about-me-heading {
    padding-right: 260px;
  }
  .about-me-p {
    font-size: 0.8rem;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
      NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
      EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto,
      "Helvetica Neue", "Noto Sans", sans-serif;
    padding-left: 45px;
    margin-bottom: 100px;
  }
 
}
