/* General Reset */
* {
  margin: 0;
  padding: 0;
}

/* Section Container */
.projects-section {
  background-color: #000;
  min-height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: row;
  gap: 10%;
  align-items: center;
}

/* Section Title */
.section-title {
  padding-bottom: 30px;
  padding-top: 55px;
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Project Container */
.project {
  margin-bottom: 60px;
  padding: 20px;
  height: 530px; /* Set a fixed height */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 5px 0px, rgba(255, 255, 255, 0.1) 0px 0px 1px 0px;
 
}

/* Project Title */
.project-title {
  font-size: 1.8rem;
  margin-bottom: 20px;
  text-align: left;
  color: #fff;
}

/* Project Content */
.project-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

/* Project Image */
.project-image {
  width: 100%;
  height: 240px; /* Set a fixed height */
  object-fit: cover; /* Ensures aspect ratio is maintained */
  margin-bottom: 20px;
  border-radius: 10px;
  margin-left: 9px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition for glow effect */
}
.project-image:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
    0 0 60px rgba(255, 255, 255, 0.2); /* Enhanced glow on hover */
}

/* Project Description */
.project-description {
  font-size: 0.96rem;
  line-height: 1.4;
  margin-bottom: 20px;
  text-align: left; /* Ensuring description is left-aligned */
}

/* Project Button */
/* From Uiverse.io by Creatlydev */
.project-button {
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  border: none;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 100px;
  font-weight: 800;
  place-content: center;
  background-color: #000;
  color: white;
  padding: 0.75rem 1rem;
  font-size: 0.825rem;
  line-height: 1rem;
  border: 1px solid blueviolet;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 0 5px rgb(153, 0, 255); /* Initial soft glow */
}

.project-button :hover {
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.08),
    inset 0 0 0 1px rgba(252, 232, 3, 0.08);
  color: blueviolet;
  transform: translate(0, -0.25rem);
  background-color: rgba(0, 0, 0, 0.5);
}

/* Responsive Design */
@media (max-width: 768px) {
  .project-description {
    font-size: 0.93rem;
    line-height: 1.4;
  }

  .project {
    max-width: 500px;
    width: 93%;
    margin-bottom: 60px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
  }
  .projects-section {
    background-color: #000;
    min-height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
  .project-content {
    text-align: center;
  }

  .project-image {
    max-width: 100%;
    height: 218px; /* Set a smaller height for small screens */
  }

  .project-button {
    width: 100%;
  }
}
